# Archivo de ejemplo para configuración local de Docker Compose

# Copia este archivo, renómbralo a .env y coloca tus contraseñas reales

# Configuración de SQL Server 
DB_PASSWORD=ConstraseñaSecretaSQLServer

# Configuración de RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest